ul,
ol {
  margin: 0 0 20px;
  padding: 0 0 0 17px;
  ul,
  ol {
    padding: 0 0 0 17px;
  }
}

p + ul,
p + ol {
  margin-top: -10px;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}