<section class="wp-block-mightily-cards-02 block cards style-1 content-left">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<!-- {/* This block can have a photo OR an animation */} -->
				<!-- {/* IMAGE */} -->
				<div class="image" style="background-image: url('https://source.unsplash.com/jbtfM0XBeRc/1200x500'); background-size: cover; background-position: 37% 78%;">
					<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image" class="visually-hidden"/>
				</div>
			</div>
			<div class="col">
				<div class="content">
					<h2 class="title">Headline</h2>
					<p>Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="wp-block-mightily-cards-02 block cards style-1 content-right">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<!-- {/* ANIMATION */} -->
				<div class="animation desktop-shortcode">[SHORTCODE]</div>
			</div>
			<div class="col">
				<div class="content">
					<h2 class="title">Headline</h2>
					<p>Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				</div>
			</div>
		</div>
	</div>
</section>