<section class="wp-block-mightily-gallery-01 block gallery bg">
	<div class="wrapper">
		<div class="row">
			<div class="content">
				<h1 class="title">Gallery Title</h1>
				<p>Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.</p>
				<div class="wp-block-buttons">
					<div class="wp-block-button">
						<a href="/" class="wp-block-button__link">Button</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="images">
				<div class="image">
					<img src="https://via.placeholder.com/150" alt="alt text"/>
                </div>
                <div class="image">
					<img src="https://via.placeholder.com/150" alt="alt text"/>
                </div>
                <div class="image">
					<img src="https://via.placeholder.com/150" alt="alt text"/>
                </div>
                <div class="image">
					<img src="https://via.placeholder.com/150" alt="alt text"/>
                </div>
                <div class="image">
					<img src="https://via.placeholder.com/150" alt="alt text"/>
				</div>
			</div>
		</div>
	</div>
</section>