<section class="wp-block-mightily-hero-02 block hero style-4 content-left">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);background-size:cover;background-position:50% 50%">
					<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image" class="visually-hidden" />
				</div>
			</div>
			<div class="col">
				<div class="content">
					<h2 class="title">Hero 02 Style 4</h2>
					<p class="copy">Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
					<div class="wp-block-buttons">
						<div class="wp-block-button">
							<a class="wp-block-button__link">Button</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>