<section class="wp-block-mightily-hero-03 block hero style-4 content-right">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="image rellax" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x800);background-size:cover;background-position:50% 50%">
					<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x800" alt="Placeholder Image" class="visually-hidden"/>
				</div>
            </div>
            <div class="col">
				<div class="icon">
					<!-- {/* the icon can either be an animation or an <img> tag */} -->
					<img src="https://staging.ndhc.org/app/uploads/2020/09/a871219a-9dfd-39fd-94c1-d24fd7d184ef.jpg" alt="">
				</div>
				<div class="content">
					<h1 class="title">Hero 03 Style 4</h1>
					<p class="copy">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.</p>
					<div class="wp-block-buttons">
						<div class="wp-block-button">
							<a class="wp-block-button__link">Button</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="wp-block-mightily-hero-03 block hero style-4 content-left">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x800);background-size:cover;background-position:50% 50%">
					<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x800" alt="Placeholder Image" class="visually-hidden"/>
				</div>
            </div>
            <div class="col">
				<div class="icon">
					<!-- {/* the icon can either be an animation or an <img> tag */} -->
					<div>[test]</div>
				</div>
				<div class="content">
					<h1 class="title">Hero Style 4</h1>
					<p class="copy">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.</p>
					<div class="wp-block-buttons">
						<div class="wp-block-button">
							<a class="wp-block-button__link">Button</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>