<section class="wp-block-mightily-hero-02 block hero style-3 content-right">
	<div class="wrapper">
		<div class="background-image"
			style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);background-size:cover;background-position:50% 50%">
			<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image"
				class="visually-hidden" />
		</div>
		<div class="mobile-background-image"
			style="background-image:url(./assets/img/contact-mobile.jpg);background-size:cover;background-position:50% 50%">
			<img src="./assets/img/contact-mobile.jpg" alt="A little boy plays around with magnify glasses"
				class="visually-hidden mobile-background-img">
		</div>
		<div class="row">
			<div class="col">
				<div class="content">
					<h1 class="label">Label</h1>
					<h2 class="title">Hero 02 Style 3</h2>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non
						metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
					<div class="wp-block-buttons">
						<div class="wp-block-button">
							<a class="wp-block-button__link">Button</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>