<section class="wp-block-mightily-intro-01 block intro">
	<!-- OPTIONAL ICON ANIMATION -->
	<div class="icon desktop-shortcode">[shortcode animation]</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<!-- Title class can be blue or grey -->
					<h1 class="title blue">Your gift today can change someone's tomorrow.</h1>
					<p>Help families in need today. Copy goes here. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
					@include('../component/buttons.html')
				</div>
			</div>
        </div>
	</div>
</section>

<!-- WHEN THE INTRO HAS A GREY BACKGROUND, THE CLASS .bg IS ADDED TO THE SECTION TAG -->
<!-- 
<section class="wp-block-mightily-intro-01 block intro bg line">
	 OPTIONAL ICON IMAGE
	<div class="icon image">
		<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image"/>
	</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					Title class can be blue or grey
					<h1 class="title grey">Headline</h1>
					<p>Copy goes here. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
					<div class="wp-block-buttons">
						<div class="wp-block-button">
							<a href="/scratchpad.html#test" class="wp-block-button__link">Button</a>
						</div>
					</div>
				</div>
			</div>
        </div>
	</div>
</section>
-->