<section class="layout listing-template property-listing">
	<div class="wrapper">
        <div class="fieldset search-field">
            <div class="search-field-wrapper">
                <!-- <?php echo facetwp_display( 'facet', 'property_type' ); ?> -->
            </div>
        </div>

        <div class="item-properties">
            <div class="image" style="background-image: url('https://source.unsplash.com/random')">
                <img class="visually-hidden" src="https://source.unsplash.com/random" alt="Property image alt text" />
            </div>
            <h2>Property Title</h2>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            <a class="property-link" href="/" target="_blank">Link Here</a>
        </div>

        <div class="item-properties">
            <div class="image" style="background-image: url('https://source.unsplash.com/random')">
                <img class="visually-hidden" src="https://source.unsplash.com/random" alt="Property image alt text" />
            </div>
            <h2>Property Title</h2>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            <a class="property-link" href="/" target="_blank">Link Here</a>
        </div>

        <div class="item-properties">
            <div class="image" style="background-image: url('https://source.unsplash.com/random')">
                <img class="visually-hidden" src="https://source.unsplash.com/random" alt="Property image alt text" />
            </div>
            <h2>Property Title</h2>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            <a class="property-link" href="/" target="_blank">Link Here</a>
        </div>

            <!-- <p>Sorry, nothing matched your criteria.</p> -->
	</div>
    <!-- <?php echo do_shortcode('[facetwp facet="load_more"]'); ?> -->
</section>