

<section class="wp-block-mightily-slider-02 block slider">
	<div class="wrapper">
        <div class="row">
            <div class="slides" data-slick='{
                "slidesToShow": 1, 
                "slidesToScroll": 1,
                "arrows": true, 
                "fade": true,
                "infinite": true,
                "focusOnSelect": true
            }'>
                <div class="wp-block-mightily-slider-single-02 slide">
                    <div class="col">
                        <div class="image">
                            <img src="https://via.placeholder.com/1000x600.png" alt="alt text" />
                        </div>
                    </div>
                    <div class="col">
                        <p class="title h2">This is the block Heading. It does not change with the slides.</p>
                        <h1 class="label">Short Label</h1>
                        <h2 class="heading">Slide 1</h2>
                        <p>This is the content that goes with each slide</p>
                        <div class="wp-block-buttons">
                            <div class="wp-block-button">
                                <a class="wp-block-button__link">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wp-block-mightily-slider-single-02 slide">
                    <div class="col">
                        <div class="image">
                            <img src="https://via.placeholder.com/1000x600.png" alt="alt text" />
                        </div>
                    </div>
                    <div class="col">
                        <p class="title h2">This is the block Heading. It does not change with the slides.</p>
                        <h1 class="label">Short Label</h1>
                        <h2 class="heading">Slide 2</h2>
                        <p>This is the content that goes with each slide</p>
                        <div class="wp-block-buttons">
                            <div class="wp-block-button">
                                <a class="wp-block-button__link">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wp-block-mightily-slider-single-02 slide">
                    <div class="col">
                        <div class="image">
                            <img src="https://via.placeholder.com/1000x600.png" alt="alt text" />
                        </div>
                    </div>
                    <div class="col">
                        <p class="title h2">This is the block Heading. It does not change with the slides.</p>
                        <h1 class="label">Short Label</h1>
                        <h2 class="heading">Slide 3</h2>
                        <p>This is the content that goes with each slide</p>
                        <div class="wp-block-buttons">
                            <div class="wp-block-button">
                                <a class="wp-block-button__link">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wp-block-mightily-slider-single-02 slide">
                    <div class="col">
                        <div class="image">
                            <img src="https://via.placeholder.com/1000x600.png" alt="alt text" />
                        </div>
                    </div>
                    <div class="col">
                        <p class="title h2">This is the block Heading. It does not change with the slides.</p>
                        <h1 class="label">Short Label</h1>
                        <h2 class="heading">Slide 4</h2>
                        <p>This is the content that goes with each slide</p>
                        <div class="wp-block-buttons">
                            <div class="wp-block-button">
                                <a class="wp-block-button__link">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="paging-info"></div>
        </div>
	</div>
</section>